#!/usr/bin/env ruby

compile '/**/*.html' do
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

route '/blog/*' do
  y, m, d, slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)/.match(item.identifier.without_ext).captures

  "/blog/#{slug}/index.html"
end

compile '/blog/*.adoc' do
  filter :erb
  filter :asciidoctor, :standalone => false, :attributes => [
           'last-update-label!=', # Do not show last updated label in every page
           'source-highlighter=rouge',
           'showtitle=yes',
           'stylesheet!='
         ]
  layout '/blog.*'

  #write item.identifier.without_ext + '/index.html'
end

compile '/**/*.adoc' do
  filter :erb
  filter :asciidoctor, :standalone => false, :attributes => [
           'last-update-label!=', # Do not show last updated label in every page
           'source-highlighter=rouge',
           'showtitle=yes',
           'stylesheet!='
         ]
  layout '/page.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.without_ext + '.html'
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
