.content h2 {
    margin-top: 10px;
}

.home-page-title h4 {
    margin-top: 2em;
    color: #666666;
}

.content .paragraph, .content .listingblock, .content .quoteblock {
    margin-bottom:1em;
}
.content .imageblock {
    text-align: center;
}
.listingblock .title, .imageblock .title {
    font-size: 1em;
    color: #666666;
    font-weight: normal;
    text-align: center;
}

.listingblock .title {
    margin-bottom: 1px;
}
.imageblock .title {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
}
.strike{text-decoration:line-through}
