<div class="has-text-centered mb-6 notification <% if @item.identifier.without_ext == "/index" %>is-info<% end %> is-light">
    <% if @item.identifier.without_ext != "/index" %>
    <p class="has-text-grey is-uppercase is-size-5 pb-2">About Aravinda Vishwanathapura</p>
    <% end %>
    Co-Founder & CTO at <a href="https://kadalu.tech">Kadalu Technologies</a>,
    Creator of <a href="https://aravindavk.in/sanka">Sanka</a>,
    Creator of <a href="https://aravindavk.in/chitra">Chitra</a>,
    <a href="https://gluster.org">GlusterFS</a> core team member,
    Maintainer of <a href="https://github.com/kadalu">Kadalu Storage</a>
    <div class="mt-6">
        Contact:
        <a href="http://in.linkedin.com/in/aravindavk">Linkedin</a> |
        <a href="https://twitter.com/aravindavk">Twitter</a> |
        <a href="http://facebook.com/aravindavk">Facebook</a> |
        <a href="https://github.com/aravindavk">Github</a> |
        mail&#64;&#97;&#114;&#97;&#118;&#105;&#110;&#100;&#97;&#118;&#107;&#46;&#105;&#110;
    </div>
</div>
