<% slug, created_at = slug_and_created_at(item) %>
<!DOCTYPE HTML>
<html lang="en">
    <%= render '/head.*' %>
    <body>
        <div id="main" class="container is-max-desktop">
            <%= render '/top_menu.*' %>
            <div class="has-text-centered">
                <h1 class="title"><%= @item[:title] %></h1>
                <div class=""><%= get_pretty_date(created_at) %></div>
                <div class=""><strong><%= reading_time(item.compiled_content) %></strong> read</div>
                <div>
                    <% @item[:tags].split(",").each do |tag| %>
                    <span class="tag is-info is-light"><%= tag %></span>
                    <% end %>
                </div>
            </div>
            <div class="content py-6">
                <%= yield %>
            </div>
        </div>
        <%= render '/footer.*' %>
    </body>
</html>
