<% slug, created_at = slug_and_created_at(item) %>
<!DOCTYPE HTML>
<html lang="en">
    <%= render '/head.*' %>
    <body>
        <div id="main" class="container is-max-desktop">
            <div class="has-text-centered py-6">
                <a href="/">
                    <figure class="image is-64x64" style="margin: auto">
                        <img class="is-rounded" src="/images/me.jpg">
                    </figure>
                    <p class="has-text-grey mb-6 is-size-6">ARAVINDA VISHWANATHAPURA</p>
                </a>
                <% if @item[:title] %>
                <h1 class="title mb-6"><%= @item[:title] %></h1>
                <% end %>
            </div>
            <div class="content">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
