<% slug, created_at = slug_and_created_at(item) %>
<!DOCTYPE HTML>
<html lang="en">
    <%= render '/head.*' %>
    <body>
        <div id="main" class="container is-max-desktop">
            <div class="has-text-centered py-6">
                <figure class="image is-64x64" style="margin: auto">
                    <img class="is-rounded" src="/images/me.jpg">
                </figure>
                <p class="has-text-grey pb-6 is-size-6">ARAVINDA VISHWANATHAPURA</p>
                <h1 class="title"><%= @item[:title] %></h1>
            </div>
            <div class="content py-6">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
