<% slug, created_at = slug_and_created_at(item) %>
<!DOCTYPE HTML>
<html lang="en">
    <%= render '/head.*' %>
    <body>
        <div id="main" class="container is-max-desktop px-4">
            <%= render '/top_menu.*' %>
            <div class="has-text-centered">
                <% if @item[:title] %>
                <h1 class="title mb-6"><%= @item[:title] %></h1>
                <% end %>
            </div>
            <div class="content">
                <%= yield %>
            </div>
        </div>
        <%= render '/footer.*' %>
    </body>
</html>
