<nav class="has-text-centered mb-6">
    <a class="link is-info is-inline-block px-2" href="/">Home</a>
    <a class="link is-info is-inline-block px-2" href="/about">About</a>
    <a class="link is-info is-inline-block px-2" href="/blog">Blog Posts</a>
    <a class="link is-info is-inline-block px-2" href="/talks">Talks & Articles</a>
    <a class="link is-info is-inline-block px-2" href="/projects">Projects</a>
</nav>
<div class="has-text-centered py-6">
    <a href="/">
        <figure class="image is-64x64" style="margin: auto">
            <img class="is-rounded" src="/images/me.jpg">
        </figure>
        <p class="has-text-grey pb-6 is-size-6">ARAVINDA VISHWANATHAPURA</p>
    </a>
</div>
